.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header-navbar__list {
  list-style: none;
  display: flex;
}
.header-navbar__item {
  display: inline-block;
}

.header-navbar__user:hover .header-navbar__menu {
  display: block;
}

.header-navbar__user-name {
  margin-left: 1.2rem;
}

.header-navbar__user {
  display: flex;
  align-items: center;
}
.header-navbar__user-img {
  width: 22px;
  height: 22px;
  border-radius: 22px;
}
.header__navbar__user-img img {
  width: 100%;
}

.header__navbar {
  height: var(--header-height-navbar);
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.header-navbar__item,
.header-navbar__item-link {
  font-size: 1.6rem;
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header-navbar__item {
  margin: 0 0.8rem;
  position: relative;
}

.header-navbar__menu {
  position: absolute;
  top: calc(100% + 0.8rem);
  right: 0;
  background-color: var(--white-color);
  width: 16.6rem;
  z-index: 1;
  box-shadow: 0px 0px 6px var(--text-color);
  border-radius: 3px;
  display: none;
}

.header-navbar__menu::after {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -3rem;
  right: 0;
}

.header-navbar__menu::before {
  content: "";
  width: 12.8rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: 0;
}

.header-navbar__menu-action {
  list-style: none;
  padding: 0.8rem 0;
}
.header-navbar__menu-action-item {
  padding: 0.8rem;
  text-transform: capitalize;
}

.header-navbar__menu-action-item:hover {
  background: var(--second-color);
}

.header-navbar__menu-action-item a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: var(--text-color-secondary);
}

.text-bold {
  font-weight: 500;
}
.header-navbar__item--separate::after {
  content: "";
  display: block;
  height: 12px;
  width: 0.2rem;
  background-color: #fb9086;
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.header-navbar__item:hover,
.header-navbar__item-link:hover,
.header-navbar__icon:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header-navbar__item-icon {
  text-decoration: none;
  color: var(--white-color);
}
.header-navbar__item-link,
.header-navbar__item {
  display: inline-flex;
  align-items: center;
}
.header-navbar__item li a i {
  margin: 0 0.8rem;
}
.header-navbar__icon {
  margin: 0 0.4rem;
}
.header__qr {
  width: 186px;
  background: var(--white-color);
  position: absolute;
  top: calc(100% + 1rem);
  border-radius: 5px;
  display: none;
  animation: fadeIn ease 0.5s;
  z-index: 1;
}
.header__qr-img {
  border-radius: 5px;
  width: 100%;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-img-down {
  height: 1.6rem;
}
.header__qr-apps img:first-child {
  margin-left: 12px;
}
.header__qr-apps img:last-child {
  margin-right: 12px;
}
.header__hover-qrcode::before {
  content: "";
  display: block;
  width: 18.6rem;
  height: 2rem;
  position: absolute;
  top: 100%;
  z-index: 1;
  left: 0;
}
.header__hover-qrcode:hover .header__qr {
  display: block;
}

.header__notify {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 40.4rem;
  background: var(--white-color);
  border: solid 1px #d3d3d3;
  transform-origin: 85% top;
  animation: headerNotiGrowth ease-in 0.2s;
  display: none;
  z-index: 1;
}
.header__notify::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -3rem;
  right: 0;
}

.header__notify::after {
  content: "";
  width: 10rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: 0;
}

@keyframes headerNotiGrowth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header__hover-notify:hover .header__notify {
  display: block;
}

.header__notify-header {
  height: 4rem;
  background: var(--white-color);
}

.header__notify-header h3 {
  text-transform: capitalize;
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 4rem;
  margin-left: 1rem;
  cursor: default;
}

.header__notify-item:hover {
  background: #f7f7f7;
}

.header__notify-link {
  display: flex;
  padding-left: 1.2rem;
  text-decoration: none;
  background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link img {
  width: 4.8rem;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.header__notify-name {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--black-color);
  padding-bottom: 1.2rem;
  line-height: 1.6rem;
}

.header__notify-description {
  display: block;
  color: #d3d3d3;
  font-size: 1.4rem;
}

.header__notify-footer {
  text-align: center;
}
.header__notify-footer-btn {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  display: inline-block;
  padding: 1.2rem 0;
}

.auth-form {
  width: 50rem;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-from__container {
  margin: 2rem 2.6rem 1rem 2.6rem;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 4.5rem 1rem;
}
.auth-form__heading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
}
.auth-form__switch-btn {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}
.auth-form__form {
  padding: 0 0.8rem;
}
.form__group {
  padding: 0.8rem 0;
}
.form__group input {
  width: 100%;
  height: 4rem;
  color: var(--text-color);
  line-height: 0.8rem;
  font-size: 1.4rem;
  border: solid 1px var(--text-color);
  outline: none;
  border-radius: 0.4rem;
  padding-left: 0.8rem;
}
.form__group input:focus {
  border: none;
  outline: solid 1px var(--primary-color);
}
.auth-form__policy {
  padding-top: 1.2rem;
}
.auth-form__policy-text {
  padding: 0 0.3rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: black;
}
.auth-form__policy-text span {
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
  /* float: right; */
}

.auth-from__socials {
  /* background-color: var(--text-color);
  padding: 12px 32px;
  display: flex;
  justify-content: center; */
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-facebook,
.auth-form__socials-google {
  background-color: var(--white-color);
}
.auth-form__socials-facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials-facebook span,
.auth-form__socials-google span {
  margin: 0 32px;
}
.header-with-search {
  height: var(--header-height-search);
  display: flex;
  align-items: center;
  margin: 0 2px;
}
.header__logo {
  width: 18rem;
  height: var(--header-height-search);
  background: url("./image/logoshop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  background: var(--white-color);
  height: 4rem;
  border-radius: 5px;
  padding: 0 0.3rem;
}
.header__cart {
  width: 17rem;
  text-align: center;
  font-size: 2.8rem;
  color: var(--white-color);
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
}

.header__search input {
  width: 100%;
  height: 100%;
  padding: 0 1.2rem;
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 300;
  outline: none;
  border: none;
  border-radius: 5px;
}

.header__search-selection {
  border-left: solid 1px var(--second-color);
  padding-left: 1rem;
  position: relative;
  cursor: pointer;
}

.header__search-selection:hover .header__search-option {
  display: block;
}

.header__search button i {
  font-size: 1.8rem;
}
.header__search-title {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 0.5rem;
}
.bxs-chevron-down {
  padding: 0 0.5rem;
  font-size: 1.8rem;
  transform: translateY(3px);
  font-weight: 100;
}
.header__search-option {
  position: absolute;
  top: calc(100% + 1.2rem);
  right: 0;
  width: 13.6rem;
  list-style: none;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 6px var(--text-color);
  z-index: 2;
  display: none;
  animation: fadeIn ease 0.2s;
}
.header__search-option-item {
  background-color: var(--white-color);
}
.header__search-option-item i {
  padding: 8px 10px 8px 12px;
  font-size: 1.8rem;
  color: var(--primary-color);
  transform: translateY(3px);
  display: none;
}

.header__search-option-item span {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1.8rem;
}
.header__search-option-item-active i {
  display: inline-block;
}

.header__search-input-wrap {
  position: relative;
}

.header__search-input-wrap input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  z-index: 1;
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0;
  width: calc(100% - 1rem);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: -1px 1px 3px var(--text-color);
  display: none;
}

.header__search-heading {
  padding: 1.2rem 1.6rem;
  color: #999;
}
.header__search-list {
  list-style: none;
}
.header__search-list-item {
  padding-left: 1.6rem;
  height: 3.6rem;
  font-size: 1.2rem;
  line-height: 3.6rem;
}
.header__search-list-item:hover {
  background-color: #999;
}

.header__cart-no-cart {
  padding-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__cart-list {
  width: 40rem;
  background-color: var(--white-color);
  position: absolute;
  top: calc(100% + 0.8rem);
  right: 6rem;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease 0.5s;
  cursor: default;
  z-index: 2;
}

.header__cart:hover .header__cart-no-cart {
  display: flex;
}

.header__cart:hover .header__cart-list {
  display: block;
}
.header__cart {
  cursor: pointer;
}

.header__cart-notice {
  position: absolute;
  top: -5px;
  right: calc(50% - 2.8rem);
  background-color: var(--white-color);
  padding: 1px 6px;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 1.4rem;
  border: solid 1px var(--primary-color);
}

.header__cart-no-cart-img {
  width: 40%;
}

.header__cart-no-cart-detail {
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 1.2rem;
  font-weight: 600;
}

.header__cart-list::before {
  content: "";
  border-width: 11px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -2rem;
  right: 0.3rem;
  z-index: 2;
}
.header__cart-header {
  color: var(--text-color-secondary);
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin: 1.2rem;
}

.header__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.2rem;
}

.header__cart-item:hover {
  background: var(--second-color);
}

.header__cart-image {
  width: 50px;
  height: 50px;
}

.header__cart-image img {
  width: 100%;
  height: 100%;
}
.header__cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}
.header__cart-info {
  padding-left: 1.2rem;
  flex: 1;
}
.header__cart-name {
  color: var(--text-color);
  font-size: 1.4rem;
  text-align: left;
  flex: 2;
  line-height: 16px;
  max-height: 32px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.header__cart-wrap-total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.header__cart-price {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.header__cart-price {
  font-size: 1.5rem;
  font-weight: 500;
}
.header__cart-multiple,
.header__cart-quantity {
  color: var(--text-color-secondary);
  font-size: 1.2rem;
}
.header__cart-des-name {
  color: var(--text-color-secondary);
  font-size: 1.2rem;
}
.header__cart-description {
  display: flex;
  justify-content: space-between;
}
.header__cart-des-remove {
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}
.header__cart-btn {
  float: right;
  padding: 1.2rem 1.2rem 1.2rem 0;
}
.header__cart-check-out:hover {
  opacity: 0.8;
}

.header__cart-items {
  overflow-y: auto;
  max-height: 50vh;
}

.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-height-sort);
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-top: solid 1px var(--second-color);
  border-bottom: solid 1px var(--second-color);
  display: none;
}

.header__sort-item {
  flex: 1;
  position: relative;
}
.header__sort-item::after {
  content: "";
  position: absolute;
  height: 60%;
  top: 50%;
  left: 0;
  border-left: solid 1px var(--second-color);
  transform: translateY(-50%);
}
.header__sort-item-link {
  display: block;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.my-container {
  background: #f5f5f5;
}
.category {
  background: var(--white-color);
}
.row__content {
  padding-top: 3.6rem;
  padding-bottom: 2.6rem;
}

.category__header {
  padding: 1.2rem;
  font-size: 1.8rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.category__header-icon {
  transform: translateY(2px);
}

.category__list {
  list-style: none;
  padding-top: 2.2rem;
}
.category__item {
  padding: 0 0 2.4rem 1.2rem;
  margin-left: 1rem;
  position: relative;
}

.category__item::after {
  content: "";
  border-top: solid 1px #e1e1e1;
  position: absolute;
  left: 12px;
  right: 12px;
  top: -15px;
}

.category__item:first-child::after {
  display: none;
}

.category__item a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  left: 0;
  transition: left ease 0.1s;
  font-size: 1.8rem;
}

.category__item :hover {
  cursor: pointer;
  color: var(--primary-color);
  /* left: 4px; */
}

.category__item a {
  display: block;
}
.category__item-active .category__item-link {
  color: var(--primary-color);
}
/* .category__item-active .category__item-link::before {
  content: "";
  position: absolute;
  border: solid 4px;
  border-color: transparent transparent transparent var(--primary-color);
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
} */

.home-filter {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem;
}
.home-filter__lable {
  margin-right: 24px;
  font-size: 14px;
  color: var(--text-color);
}
.home-filter-btn {
  width: 8.6rem;
  padding: 1.6rem 0;
  margin-right: 1.2rem;
}

.home-filter__page {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.home-filter__page-curent {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-right: 1.4rem;
}
.home-filter__page-next {
  color: var(--text-color);
}

.mobile__category-list {
  list-style: none;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.mobile__category-list::-webkit-scrollbar {
  display: none;
}

.mobile__category-item {
  flex-shrink: 0;
  margin: 0 0.4rem;
}

.mobile__category-item:nth-of-type(3n + 1) .mobile__category-item-link {
  background: turquoise;
}
.mobile__category-item:nth-of-type(3n + 2) .mobile__category-item-link {
  background: burlywood;
}
.mobile__category-item:nth-of-type(3n + 3) .mobile__category-item-link {
  background: palegoldenrod;
}

.mobile__category-item-link {
  text-align: center;
  color: var(--white-color);
  --line-height: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  display: block;
  width: 11rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
}

.home-product {
  color: var(--text-color);
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
  transition: transform ease-in 0.1s;
}

.home-product:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.1);
  transform: translateY(-1px);
}

.home-product__img {
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-product__name {
  font-size: 14px;
  /* padding: 12px 8px; */
  margin: 10px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product__price {
  margin: 10px;
}
.home-product__old-price {
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-right: 5px;
  color: var(--text-color);
}

.home-product__new-price {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.home-product__action {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.home-product__action-liked .home-product__action-unlike {
  display: none;
}

.home-product__action-liked .home-product__action-like {
  color: var(--primary-color);
}
.home-product__banner {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  font-size: 1.4rem;
  color: var(--text-color);
}
.home-product__rating-icon {
  color: #ffce3e;
}

.home-product__favourite {
  background: var(--primary-color);
  color: wheat;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: -4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product__favourite::after {
  content: "";
  border-top: solid 3px var(--primary-color);
  border-left: solid 3px transparent;
  filter: brightness(60%);
  bottom: -3px;
  position: absolute;
  left: 0;
}

.home-prodcut__favourite-text {
  font-size: 10px;
  padding-right: 5px;
}
.home-product__sale-off {
  width: 46px;
  height: 46px;
  background: #ffce3e;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-product__sale-off-percent {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
}
.home-prodcut__sale-off-lable {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  margin-top: 5px;
}

.home-product__sale-off::after {
  content: "";
  border-style: solid;
  border-width: 0px 23px 10px 23px;
  position: absolute;
  border-color: transparent #ffce3e transparent #ffce3e;
  bottom: -10px;
}

.home-pagination {
  margin: 46px 0 32px;
}

.footer {
  border-top: solid 3px var(--primary-color);
  padding: 3.8rem 0;
}
.footer__heading {
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
}

.footer__list {
  list-style: none;
}
.footer__list-item-link {
  display: block;
  color: var;
  text-decoration: none;
  color: var(--text-color-secondary);
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.footer__list-item-link:hover {
  color: var(--primary-color);
}

.footer__socials-icon {
  font-size: 2rem;
  padding-right: 0.6rem;
}

.footer__app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__app-img {
  width: 80px;
  margin-right: 0.8rem;
}

.footer__app-down img {
  height: 2.4rem;
}
